@import './variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Outfit', sans-serif; /* Fuente predeterminada para texto */
  font-weight: 400;
}

h1, h2, h3, h4, .titulo {
  font-family: 'Poppins', sans-serif; /* Fuente para títulos */
  font-weight: 600; /* Semi-bold para títulos */
}

.btn, .boton-destacado {
  font-family: 'Poppins', sans-serif; /* Fuente para botones */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
